<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AMSInstaller.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <ApplicationSettings>
    <add key="MobileAPI" value="11000"/>
    <!--<add key="AMS API" value="AMS API"/>-->
    <!--<add key="MobileApi" value="MobileAPI"/>-->
    <add key="AMSAPI" value="11001"/>
    <add key="AMSWeb" value="11002"/>
  </ApplicationSettings>
  <userSettings>
    <AMSInstaller.ApplicationSettings>
      <setting name="MobileApi" serializeAs="String">
        <value>MobileAPI</value>
      </setting>
      <setting name="AMSApi" serializeAs="String">
        <value>AMS API</value>
      </setting>
      <setting name="AMSWeb" serializeAs="String">
        <value>AMS Web</value>
      </setting>
    </AMSInstaller.ApplicationSettings>
  </userSettings>
</configuration>